<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>about us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/aboutus_styles.css" type="text/css" charset="utf-8" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
<h1>About us</h1>
<div style="margin-top:50pt; width:30%; float:left; margin-left: 60pt;">
<img src="../static/erfan.jpeg" width="300">
<p>
    <b>Erfan Hamdi</b><br>
   Researcher in the field of Scientific Machine Learning and Microfluidics.
<br><a href="mailto:erfan.hamdi@gmail.com">erfan.hamdi@gmail.com</a>
<br><a href="https://erfanhamdi.github.io" target="_blank">erfanhamdi.github.io</a>
</p>
</div>
<div style="margin-top:50pt; width:30%; float:left; margin-left: 0pt;">
<img src="../static/rasool.png" width="300">
<p>
    <b>Rasool Dezhkam</b><br>
    Researcher in the field of Microfluidics.
<br>
<a href="mailto:rasooldezhkam@gmail.com">rasool.dezhkam@gmail.com</a>
</p>
</div>
<div style="margin-top:50pt; width:30%; float:left;">
<img src="../static/Amir-Shamloo.jpeg" width="300">
<p>
    <b>Amir Shamloo</b><br>
    PI at Nanobiotechnology lab.
<br>
<a href="mailto:shamloo@sharif.edu">shamloo@sharif.edu</a>
</p>
</div>
</body>
</html>